<?xml version="1.0" encoding="UTF-8"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <rule ref="Doctrine">
        <exclude name="Generic.Formatting.MultipleStatementAlignment"/>
        <exclude name="PSR12.Files.OpenTag.NotAlone"/>
        <exclude name="SlevomatCodingStandard.Namespaces.UnusedUses.UnusedUse"/>
        <exclude name="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly.ReferenceViaFullyQualifiedName"/>
        <exclude name="SlevomatCodingStandard.Whitespaces.DuplicateSpaces"/>
    </rule>
    <file>src/</file>
</ruleset>
